:root {
  --the7-accent-bg-color: #1ebbf0;
  --the7-accent-color: #1ebbf0;
  --the7-accent-gradient: 135deg, #1ebbf0 30%, #39dfaa 100%;
  --the7-additional-logo-elements-font-family: "Open Sans", Helvetica, Arial, Verdana, sans-serif;
  --the7-additional-logo-elements-font-size: 20px;
  --the7-additional-logo-elements-icon-size: 0px;
  --the7-additional-menu-elements-color: #333333;
  --the7-additional-menu-elements-font-family: "Roboto", Helvetica, Arial, Verdana, sans-serif;
  --the7-additional-menu-elements-font-size: 13px;
  --the7-additional-menu-elements-font-weight: 700;
  --the7-additional-menu-elements-icon-color: #333333;
  --the7-additional-menu-elements-icon-size: 16px;
  --the7-base-border-radius: 0px;
  --the7-base-color: #8b8d94;
  --the7-base-font-family: "Roboto", Helvetica, Arial, Verdana, sans-serif;
  --the7-base-font-size: 15px;
  --the7-base-line-height: 1.5em;
  --the7-beautiful-loading-bg: #ffffff;
  --the7-beautiful-spinner-color: rgba(51,51,51,0.25);
  --the7-body-bg-attachment: fixed;
  --the7-body-bg-color: #f7f7f7;
  --the7-body-bg-image: none;
  --the7-body-bg-position-x: center;
  --the7-body-bg-position-y: center;
  --the7-body-bg-repeat: no-repeat;
  --the7-body-bg-size: cover;
  --the7-border-radius-size: 0px;
  --the7-bottom-bar-bottom-padding: 10px;
  --the7-bottom-bar-height: 60px;
  --the7-bottom-bar-line-size: 1px;
  --the7-bottom-bar-menu-switch: 778px;
  --the7-bottom-bar-switch: 990px;
  --the7-bottom-bar-top-padding: 10px;
  --the7-bottom-bg-color: rgba(255,255,255,0.12);
  --the7-bottom-bg-image: none;
  --the7-bottom-bg-position-x: center;
  --the7-bottom-bg-position-y: top;
  --the7-bottom-bg-repeat: repeat;
  --the7-bottom-color: #eeeeee;
  --the7-bottom-content-padding: 0px;
  --the7-bottom-input-border-width: 1px;
  --the7-bottom-input-padding: 5px;
  --the7-bottom-logo-bottom-padding: 8px;
  --the7-bottom-logo-left-padding: 0px;
  --the7-bottom-logo-right-padding: 12px;
  --the7-bottom-logo-top-padding: 8px;
  --the7-bottom-overlay-content-padding: 0px;
  --the7-box-width: 1280px;
  --the7-breadcrumbs-bg-color: #594492;
  --the7-breadcrumbs-border-color: rgba(255,255,255,0);
  --the7-breadcrumbs-border-radius: 2px;
  --the7-breadcrumbs-border-width: 0px;
  --the7-breadcrumbs-font-family: "Roboto", Helvetica, Arial, Verdana, sans-serif;
  --the7-breadcrumbs-font-size: 14px;
  --the7-breadcrumbs-line-height: 24px;
  --the7-breadcrumbs-margin-bottom: 0px;
  --the7-breadcrumbs-margin-left: 0px;
  --the7-breadcrumbs-margin-right: 0px;
  --the7-breadcrumbs-margin-top: 10px;
  --the7-breadcrumbs-padding-bottom: 0px;
  --the7-breadcrumbs-padding-left: 0px;
  --the7-breadcrumbs-padding-right: 0px;
  --the7-breadcrumbs-padding-top: 0px;
  --the7-breadcrumbs-text-transform: none;
  --the7-btn-bg-color-2: 135deg, #1ebbf0 30%, #39dfaa 100%;
  --the7-btn-bg-color: #1ebbf0;
  --the7-btn-border-color: #1ebbf0;
  --the7-btn-border-hover-color: #1ebbf0;
  --the7-btn-color: #ffffff;
  --the7-btn-hover-bg-color-2: 135deg, #23aadd 30%, #37ce9d 100%;
  --the7-btn-hover-bg-color: #23aadd;
  --the7-btn-hover-color: #ffffff;
  --the7-btn-l-border-radius: 1px;
  --the7-btn-l-border-style: solid;
  --the7-btn-l-border-width: 0px;
  --the7-btn-l-font-family: "Roboto", Helvetica, Arial, Verdana, sans-serif;
  --the7-btn-l-font-size: 18px;
  --the7-btn-l-font-weight: 700;
  --the7-btn-l-icon-size: 18px;
  --the7-btn-l-letter-spacing: 0px;
  --the7-btn-l-line-height: 1;
  --the7-btn-l-min-height: 1px;
  --the7-btn-l-min-width: 1px;
  --the7-btn-l-padding: 16px 24px 16px 24px;
  --the7-btn-l-text-transform: none;
  --the7-btn-lg-border-radius: 5px;
  --the7-btn-lg-border-style: solid;
  --the7-btn-lg-border-width: 0px;
  --the7-btn-lg-font-family: "Roboto", Helvetica, Arial, Verdana, sans-serif;
  --the7-btn-lg-font-size: 20px;
  --the7-btn-lg-font-weight: 700;
  --the7-btn-lg-icon-size: 18px;
  --the7-btn-lg-letter-spacing: 0px;
  --the7-btn-lg-line-height: 1;
  --the7-btn-lg-min-height: 1px;
  --the7-btn-lg-min-width: 1px;
  --the7-btn-lg-padding: 20px 40px 20px 40px;
  --the7-btn-lg-text-transform: none;
  --the7-btn-m-border-radius: 1px;
  --the7-btn-m-border-style: solid;
  --the7-btn-m-border-width: 0px;
  --the7-btn-m-font-family: "Roboto", Helvetica, Arial, Verdana, sans-serif;
  --the7-btn-m-font-size: 14px;
  --the7-btn-m-font-weight: 700;
  --the7-btn-m-icon-size: 14px;
  --the7-btn-m-letter-spacing: 0px;
  --the7-btn-m-line-height: 1;
  --the7-btn-m-min-height: 1px;
  --the7-btn-m-min-width: 1px;
  --the7-btn-m-padding: 12px 18px 12px 18px;
  --the7-btn-m-text-transform: none;
  --the7-btn-s-border-radius: 1px;
  --the7-btn-s-border-style: solid;
  --the7-btn-s-border-width: 0px;
  --the7-btn-s-font-family: "Roboto", Helvetica, Arial, Verdana, sans-serif;
  --the7-btn-s-font-size: 12px;
  --the7-btn-s-font-weight: 700;
  --the7-btn-s-icon-size: 12px;
  --the7-btn-s-letter-spacing: 0px;
  --the7-btn-s-line-height: 1;
  --the7-btn-s-min-height: 1px;
  --the7-btn-s-min-width: 1px;
  --the7-btn-s-padding: 8px 14px 7px 14px;
  --the7-btn-s-text-transform: none;
  --the7-btn-xl-border-radius: 6px;
  --the7-btn-xl-border-style: solid;
  --the7-btn-xl-border-width: 0px;
  --the7-btn-xl-font-family: "Roboto", Helvetica, Arial, Verdana, sans-serif;
  --the7-btn-xl-font-size: 20px;
  --the7-btn-xl-font-weight: 700;
  --the7-btn-xl-icon-size: 20px;
  --the7-btn-xl-letter-spacing: 0px;
  --the7-btn-xl-line-height: 1;
  --the7-btn-xl-min-height: 1px;
  --the7-btn-xl-min-width: 1px;
  --the7-btn-xl-padding: 25px 50px 25px 50px;
  --the7-btn-xl-text-transform: none;
  --the7-button-shadow-blur: 10px;
  --the7-button-shadow-color: rgba(0,0,0,0);
  --the7-button-shadow-horizontal: 0px;
  --the7-button-shadow-hover-blur: 10px;
  --the7-button-shadow-hover-color: rgba(0,0,0,0);
  --the7-button-shadow-hover-horizontal: 0px;
  --the7-button-shadow-hover-spread: 0px;
  --the7-button-shadow-hover-vertical: 0px;
  --the7-button-shadow-spread: 0px;
  --the7-button-shadow-vertical: 0px;
  --the7-cart-total-width: 50%;
  --the7-classic-menu-bottom-margin: 0px;
  --the7-close-menu-caption-color-hover: #000000;
  --the7-close-menu-caption-color: #000000;
  --the7-close-menu-caption-font-family: "Roboto", Helvetica, Arial, Verdana, sans-serif;
  --the7-close-menu-caption-font-size: 16px;
  --the7-close-menu-caption-gap: 20px;
  --the7-close-menu-caption-text-transform: uppercase;
  --the7-close-mobile-menu-caption-color-hover: #ffffff;
  --the7-close-mobile-menu-caption-color: #ffffff;
  --the7-close-mobile-menu-caption-font-family: "Roboto", Helvetica, Arial, Verdana, sans-serif;
  --the7-close-mobile-menu-caption-font-size: 16px;
  --the7-close-mobile-menu-caption-gap: 10px;
  --the7-close-mobile-menu-caption-text-transform: none;
  --the7-content-boxes-bg: rgba(0,0,0,0.04);
  --the7-content-width: 1300px;
  --the7-divider-bg-color: rgba(0,0,0,0);
  --the7-divider-color: rgba(0,0,0,0.08);
  --the7-filter-border-radius: 100px;
  --the7-filter-decoration-line-size: 2px;
  --the7-filter-font-family: "Roboto", Helvetica, Arial, Verdana, sans-serif;
  --the7-filter-font-size: 14px;
  --the7-filter-font-weight: 700;
  --the7-filter-item-margin-bottom: 0px;
  --the7-filter-item-margin-left: 3px;
  --the7-filter-item-margin-right: 3px;
  --the7-filter-item-margin-top: 0px;
  --the7-filter-item-padding-bottom: 6px;
  --the7-filter-item-padding-left: 15px;
  --the7-filter-item-padding-right: 15px;
  --the7-filter-item-padding-top: 6px;
  --the7-filter-pointer-bg-radius: 100px;
  --the7-filter-pointer-border-width: 2px;
  --the7-filter-text-transform: none;
  --the7-first-switch-header-padding-left: 50px;
  --the7-first-switch-header-padding-right: 50px;
  --the7-first-switch-mobile-header-height: 60px;
  --the7-first-switch: 992px;
  --the7-float-menu-bg: #ffffff;
  --the7-float-menu-height: 60px;
  --the7-float-menu-line-decoration-color: rgba(51,51,51,0.11);
  --the7-float-menu-line-decoration-size: 1px;
  --the7-floating-header-bg-image: none;
  --the7-floating-header-bg-position-x: center;
  --the7-floating-header-bg-position-y: center;
  --the7-floating-header-bg-repeat: repeat;
  --the7-floating-header-bg-size: auto;
  --the7-floating-logo-bottom-padding: 0px;
  --the7-floating-logo-left-padding: 0px;
  --the7-floating-logo-right-padding: 18px;
  --the7-floating-logo-top-padding: 0px;
  --the7-floating-menu-active-last-color: #333333;
  --the7-floating-menu-color-active: #333333;
  --the7-floating-menu-color-hover: #333333;
  --the7-floating-menu-color: #333333;
  --the7-floating-menu-hover-last-color: #333333;
  --the7-floating-mixed-logo-bottom-padding: 0px;
  --the7-floating-mixed-logo-left-padding: 0px;
  --the7-floating-mixed-logo-right-padding: 0px;
  --the7-floating-mixed-logo-top-padding: 0px;
  --the7-floating-mobile-logo-bottom-padding: 0px;
  --the7-floating-mobile-logo-left-padding: 0px;
  --the7-floating-mobile-logo-right-padding: 0px;
  --the7-floating-mobile-logo-top-padding: 0px;
  --the7-footer-bg-color: #1a1c20;
  --the7-footer-bg-image: none;
  --the7-footer-bg-position-x: center;
  --the7-footer-bg-position-y: top;
  --the7-footer-bg-repeat: repeat;
  --the7-footer-bottom-padding: 15px;
  --the7-footer-decoration-line-size: 1px;
  --the7-footer-left-padding: 50px;
  --the7-footer-outline-color: rgba(129,215,66,0.96);
  --the7-footer-right-padding: 50px;
  --the7-footer-switch-colums: 992px;
  --the7-footer-switch: 778px;
  --the7-footer-top-padding: 50px;
  --the7-general-border-radius: 0px;
  --the7-general-title-responsiveness: 778px;
  --the7-h1-font-family: "Roboto", Helvetica, Arial, Verdana, sans-serif;
  --the7-h1-font-size-desktop: 52px;
  --the7-h1-font-size: 52px;
  --the7-h1-font-weight: 700;
  --the7-h1-line-height-desktop: 62px;
  --the7-h1-line-height: 62px;
  --the7-h1-text-transform: none;
  --the7-h2-font-family: "Roboto", Helvetica, Arial, Verdana, sans-serif;
  --the7-h2-font-size-desktop: 34px;
  --the7-h2-font-size: 34px;
  --the7-h2-font-weight: 700;
  --the7-h2-line-height-desktop: 44px;
  --the7-h2-line-height: 44px;
  --the7-h2-text-transform: none;
  --the7-h3-font-family: "Roboto", Helvetica, Arial, Verdana, sans-serif;
  --the7-h3-font-size-desktop: 24px;
  --the7-h3-font-size: 24px;
  --the7-h3-font-weight: 700;
  --the7-h3-line-height-desktop: 34px;
  --the7-h3-line-height: 34px;
  --the7-h3-text-transform: none;
  --the7-h4-font-family: "Roboto", Helvetica, Arial, Verdana, sans-serif;
  --the7-h4-font-size-desktop: 20px;
  --the7-h4-font-size: 20px;
  --the7-h4-font-weight: 700;
  --the7-h4-line-height-desktop: 30px;
  --the7-h4-line-height: 30px;
  --the7-h4-text-transform: none;
  --the7-h5-font-family: "Roboto", Helvetica, Arial, Verdana, sans-serif;
  --the7-h5-font-size-desktop: 16px;
  --the7-h5-font-size: 16px;
  --the7-h5-font-weight: 700;
  --the7-h5-line-height-desktop: 26px;
  --the7-h5-line-height: 26px;
  --the7-h5-text-transform: none;
  --the7-h6-font-family: "Roboto", Helvetica, Arial, Verdana, sans-serif;
  --the7-h6-font-size-desktop: 14px;
  --the7-h6-font-size: 14px;
  --the7-h6-font-weight: 700;
  --the7-h6-line-height-desktop: 24px;
  --the7-h6-line-height: 24px;
  --the7-h6-text-transform: none;
  --the7-hamburger-border-width: 0px;
  --the7-hamburger-close-border-radius: 0px;
  --the7-hamburger-close-border-width: 0px;
  --the7-hamburger-mobile-close-border-radius: 0px;
  --the7-hamburger-mobile-close-border-width: 0px;
  --the7-header-bg-color: #ffffff;
  --the7-header-bg-image: none;
  --the7-header-bg-position-x: center;
  --the7-header-bg-position-y: center;
  --the7-header-bg-repeat: repeat;
  --the7-header-bg-size: auto;
  --the7-header-classic-menu-line-size: 1px;
  --the7-header-decoration-size: 1px;
  --the7-header-decoration: rgba(51,51,51,0.11);
  --the7-header-height: 90px;
  --the7-header-left-padding: 50px;
  --the7-header-mobile-left-padding: 20px;
  --the7-header-mobile-menu-bottom-padding: 30px;
  --the7-header-mobile-menu-left-padding: 30px;
  --the7-header-mobile-menu-right-padding: 15px;
  --the7-header-mobile-menu-top-padding: 45px;
  --the7-header-mobile-right-padding: 20px;
  --the7-header-right-padding: 50px;
  --the7-header-side-content-width: 300px;
  --the7-header-side-width: 300px;
  --the7-header-slide-out-width: 400px;
  --the7-header-switch-paddings: 778px;
  --the7-header-transparent-bg-color: #eeee22;
  --the7-input-bg-color: #fdfdfd;
  --the7-input-border-color: rgba(51,51,51,0.11);
  --the7-input-border-radius: 2px;
  --the7-input-color: #8b8d94;
  --the7-input-height: 40px;
  --the7-left-content-padding: 0px;
  --the7-left-input-border-width: 1px;
  --the7-left-input-padding: 15px;
  --the7-left-overlay-content-padding: 0px;
  --the7-lightbox-arrow-size: 62px;
  --the7-links-color: #1ebbf0;
  --the7-logo-area-left-padding-bottom: 0px;
  --the7-logo-area-left-padding-left: 0px;
  --the7-logo-area-left-padding-right: 0px;
  --the7-logo-area-right-padding-bottom: 0px;
  --the7-logo-area-right-padding-left: 0px;
  --the7-logo-area-right-padding-right: 0px;
  --the7-main-logo-bottom-padding: 0px;
  --the7-main-logo-left-padding: 0px;
  --the7-main-logo-right-padding: 5px;
  --the7-main-logo-top-padding: 0px;
  --the7-main-menu-icon-size: 14px;
  --the7-mega-menu-desc-color: #333333;
  --the7-mega-menu-title-color: #333333;
  --the7-mega-menu-widget-accent-color: #333333;
  --the7-mega-menu-widget-color: #333333;
  --the7-mega-menu-widget-title-color: #333333;
  --the7-megamenu-title-active-color-2: left, #1ebbf0 30%, #39dfaa 100%;
  --the7-megamenu-title-active-color: #1ebbf0;
  --the7-megamenu-title-hover-color-2: left, #1ebbf0 30%, #39dfaa 100%;
  --the7-megamenu-title-hover-color: #1ebbf0;
  --the7-menu-active-color: #333333;
  --the7-menu-active-decor-color-2: 135deg, rgba(30,187,240,0.15) 30%, rgba(57,223,170,0.15) 100%;
  --the7-menu-active-decor-color: rgba(30,187,240,0.15);
  --the7-menu-active-last-color: #333333;
  --the7-menu-active-line-decor-color: rgba(130,36,227,0.3);
  --the7-menu-area-below-padding-bottom: 0px;
  --the7-menu-area-below-padding-left: 0px;
  --the7-menu-area-below-padding-right: 0px;
  --the7-menu-area-left-padding-bottom: 0px;
  --the7-menu-area-left-padding-left: 0px;
  --the7-menu-area-left-padding-right: 0px;
  --the7-menu-area-right-padding-bottom: 0px;
  --the7-menu-area-right-padding-left: 5px;
  --the7-menu-area-right-padding-right: 0px;
  --the7-menu-area-right-padding-top: 0px;
  --the7-menu-area-top-line-padding-bottom: 0px;
  --the7-menu-area-top-line-padding-left: 0px;
  --the7-menu-area-top-line-padding-right: 0px;
  --the7-menu-area-top-line-right-padding-bottom: 0px;
  --the7-menu-area-top-line-right-padding-left: 0px;
  --the7-menu-area-top-line-right-padding-right: 0px;
  --the7-menu-caption-font-family: "Roboto", Helvetica, Arial, Verdana, sans-serif;
  --the7-menu-caption-font-size: 16px;
  --the7-menu-caption-gap: 10px;
  --the7-menu-caption-text-transform: none;
  --the7-menu-click-decor-bg-color-2: 135deg, #1ebbf0 30%, #39dfaa 100%;
  --the7-menu-click-decor-bg-color: rgba(30,187,240,0);
  --the7-menu-color: #333333;
  --the7-menu-decor-border-radius: 3px;
  --the7-menu-decor-color-2: left, #1ebbf0 30%, #39dfaa 100%;
  --the7-menu-decor-color: #1ebbf0;
  --the7-menu-decoration-line-size: 2px;
  --the7-menu-font-family: "Roboto", Helvetica, Arial, Verdana, sans-serif;
  --the7-menu-font-size: 16px;
  --the7-menu-font-weight: 700;
  --the7-menu-hover-color: #333333;
  --the7-menu-hover-decor-color-2: 135deg, rgba(255,255,255,0.23) 30%, rgba(0,0,0,0.23) 100%;
  --the7-menu-hover-decor-color: rgba(255,255,255,0.23);
  --the7-menu-hover-last-color: #333333;
  --the7-menu-item-divider-width: 1px;
  --the7-menu-item-margin-bottom: 18px;
  --the7-menu-item-margin-left: 14px;
  --the7-menu-item-margin-right: 14px;
  --the7-menu-item-margin-top: 18px;
  --the7-menu-item-padding-bottom: 4px;
  --the7-menu-item-padding-left: 4px;
  --the7-menu-item-padding-right: 4px;
  --the7-menu-item-padding-top: 4px;
  --the7-menu-line-decor-color-2: left, rgba(255,255,255,0.23) 30%, rgba(0,0,0,0.23) 100%;
  --the7-menu-line-decor-color: rgba(255,255,255,0.23);
  --the7-menu-tem-divider-color: rgba(17,17,17,0.14);
  --the7-menu-tem-divider-height: 24px;
  --the7-menu-text-transform: none;
  --the7-message-color: #ffffff;
  --the7-microwidget-button-2-bg-2: 135deg, #1ebbf0 30%, #39dfaa 100%;
  --the7-microwidget-button-2-bg: #1ebbf0;
  --the7-microwidget-button-2-border-color-2: 135deg, #1ebbf0 30%, #39dfaa 100%;
  --the7-microwidget-button-2-border-color: #1ebbf0;
  --the7-microwidget-button-2-border-radius: 0px;
  --the7-microwidget-button-2-border-width: 1px;
  --the7-microwidget-button-2-bottom-padding: 10px;
  --the7-microwidget-button-2-color: #ffffff;
  --the7-microwidget-button-2-font-family: "Roboto", Helvetica, Arial, Verdana, sans-serif;
  --the7-microwidget-button-2-font-size: 14px;
  --the7-microwidget-button-2-font-weight: 700;
  --the7-microwidget-button-2-hover-bg-2: 135deg, #1ebbf0 30%, #39dfaa 100%;
  --the7-microwidget-button-2-hover-bg: #1ebbf0;
  --the7-microwidget-button-2-hover-border-color-2: 135deg, #1ebbf0 30%, #39dfaa 100%;
  --the7-microwidget-button-2-hover-border-color: #1ebbf0;
  --the7-microwidget-button-2-hover-color: #ffffff;
  --the7-microwidget-button-2-icon-gap: 5px;
  --the7-microwidget-button-2-icon-size: 14px;
  --the7-microwidget-button-2-left-padding: 20px;
  --the7-microwidget-button-2-right-padding: 20px;
  --the7-microwidget-button-2-top-padding: 10px;
  --the7-microwidget-button-bg-2: 135deg, #1ebbf0 30%, #39dfaa 100%;
  --the7-microwidget-button-bg: #1ebbf0;
  --the7-microwidget-button-border-color-2: 135deg, #1ebbf0 30%, #39dfaa 100%;
  --the7-microwidget-button-border-color: #1ebbf0;
  --the7-microwidget-button-border-radius: 0px;
  --the7-microwidget-button-border-width: 1px;
  --the7-microwidget-button-bottom-padding: 10px;
  --the7-microwidget-button-color: #ffffff;
  --the7-microwidget-button-font-family: "Roboto", Helvetica, Arial, Verdana, sans-serif;
  --the7-microwidget-button-font-size: 14px;
  --the7-microwidget-button-font-weight: 700;
  --the7-microwidget-button-hover-bg-2: 135deg, #1ebbf0 30%, #39dfaa 100%;
  --the7-microwidget-button-hover-bg: #1ebbf0;
  --the7-microwidget-button-hover-border-color-2: 135deg, #1ebbf0 30%, #39dfaa 100%;
  --the7-microwidget-button-hover-border-color: #1ebbf0;
  --the7-microwidget-button-hover-color: #ffffff;
  --the7-microwidget-button-icon-gap: 5px;
  --the7-microwidget-button-icon-size: 14px;
  --the7-microwidget-button-left-padding: 20px;
  --the7-microwidget-button-right-padding: 20px;
  --the7-microwidget-button-top-padding: 10px;
  --the7-microwidgets-in-top-line-color: #888888;
  --the7-microwidgets-in-top-line-font-family: "Open Sans", Helvetica, Arial, Verdana, sans-serif;
  --the7-microwidgets-in-top-line-font-size: 20px;
  --the7-microwidgets-in-top-line-icon-color: #888888;
  --the7-microwidgets-in-top-line-icon-size: 16px;
  --the7-mixed-logo-bottom-padding: 0px;
  --the7-mixed-logo-left-padding: 0px;
  --the7-mixed-logo-right-padding: 0px;
  --the7-mixed-logo-top-padding: 0px;
  --the7-mobile-floating-header-bg-color: #ffffff;
  --the7-mobile-footer-bottom-padding: 15px;
  --the7-mobile-footer-left-padding: 20px;
  --the7-mobile-footer-right-padding: 20px;
  --the7-mobile-footer-top-padding: 50px;
  --the7-mobile-hamburger-border-width: 0px;
  --the7-mobile-header-bg-color: #ffffff;
  --the7-mobile-header-decoration-color: #ffffff;
  --the7-mobile-header-decoration-size: 1px;
  --the7-mobile-logo-bottom-padding: 0px;
  --the7-mobile-logo-left-padding: 0px;
  --the7-mobile-logo-right-padding: 0px;
  --the7-mobile-logo-top-padding: 0px;
  --the7-mobile-menu-active-color-2: left, #1ebbf0 30%, #39dfaa 100%;
  --the7-mobile-menu-active-color: #1ebbf0;
  --the7-mobile-menu-bg-color: #ffffff;
  --the7-mobile-menu-caption-font-family: "Roboto", Helvetica, Arial, Verdana, sans-serif;
  --the7-mobile-menu-caption-font-size: 16px;
  --the7-mobile-menu-caption-gap: 10px;
  --the7-mobile-menu-caption-text-transform: none;
  --the7-mobile-menu-color: #333333;
  --the7-mobile-menu-divider-color: rgba(51,51,51,0.12);
  --the7-mobile-menu-divider-height: 1px;
  --the7-mobile-menu-font-family: "Roboto", Helvetica, Arial, Verdana, sans-serif;
  --the7-mobile-menu-font-size: 16px;
  --the7-mobile-menu-font-weight: 700;
  --the7-mobile-menu-hover-color-2: left, #1ebbf0 30%, #39dfaa 100%;
  --the7-mobile-menu-hover-color: #1ebbf0;
  --the7-mobile-menu-microwidgets-color: #b1b4b8;
  --the7-mobile-menu-microwidgets-font-family: "Roboto", Helvetica, Arial, Verdana, sans-serif;
  --the7-mobile-menu-microwidgets-font-size: 13px;
  --the7-mobile-menu-microwidgets-font-weight: 500;
  --the7-mobile-menu-microwidgets-icon-color: #b1b4b8;
  --the7-mobile-menu-microwidgets-icon-size: 16px;
  --the7-mobile-menu-text-transform: none;
  --the7-mobile-menu-width: 330px;
  --the7-mobile-microwidgets-color: #333333;
  --the7-mobile-microwidgets-font-family: "Roboto", Helvetica, Arial, Verdana, sans-serif;
  --the7-mobile-microwidgets-font-size: 13px;
  --the7-mobile-microwidgets-font-weight: 700;
  --the7-mobile-microwidgets-icon-color: #333333;
  --the7-mobile-microwidgets-icon-size: 16px;
  --the7-mobile-overlay-bg-color: rgba(17,17,17,0.5);
  --the7-mobile-page-bottom-margin: 70px;
  --the7-mobile-page-left-margin: 20px;
  --the7-mobile-page-right-margin: 20px;
  --the7-mobile-page-top-margin: 70px;
  --the7-mobile-sub-menu-font-family: "Roboto", Helvetica, Arial, Verdana, sans-serif;
  --the7-mobile-sub-menu-font-size: 13px;
  --the7-mobile-sub-menu-font-weight: 500;
  --the7-mobile-sub-menu-text-transform: none;
  --the7-mobile-toggle-menu-bg-color: rgba(255,255,255,0);
  --the7-mobile-toggle-menu-bg-hover-color: rgba(255,255,255,0);
  --the7-mobile-toggle-menu-border-radius: 0px;
  --the7-mobile-toggle-menu-color: #333333;
  --the7-mobile-toggle-menu-hover-color: #333333;
  --the7-mw-address-icon-size: 16px;
  --the7-mw-clock-icon-size: 16px;
  --the7-mw-email-icon-size: 16px;
  --the7-mw-login-icon-size: 16px;
  --the7-mw-phone-icon-size: 16px;
  --the7-mw-search-bg-active-width: 200px;
  --the7-mw-search-bg-color: #f4f4f4;
  --the7-mw-search-bg-height: 34px;
  --the7-mw-search-bg-width: 200px;
  --the7-mw-search-border-color: #e2e2e2;
  --the7-mw-search-border-radius: 0px;
  --the7-mw-search-border-width: 0px;
  --the7-mw-search-color: #aaaaaa;
  --the7-mw-search-font-family: "Roboto", Helvetica, Arial, Verdana, sans-serif;
  --the7-mw-search-font-size: 14px;
  --the7-mw-search-icon-size: 16px;
  --the7-mw-search-left-padding: 12px;
  --the7-mw-search-overlay-bg: rgba(0,0,0,0.9);
  --the7-mw-search-right-padding: 12px;
  --the7-mw-skype-icon-size: 16px;
  --the7-mw-woocommerce-cart-icon-size: 16px;
  --the7-navigation-bg-color: #000000;
  --the7-navigation-line-bg: #ffffff;
  --the7-navigation-line-decoration-color: #dd9933;
  --the7-navigation-line-decoration-line-size: 1px;
  --the7-navigation-line-sticky-bg: #000000;
  --the7-navigation-margin: 50px;
  --the7-outside-item-custom-margin: 30px;
  --the7-page-bg-color: #ffffff;
  --the7-page-bg-image: none;
  --the7-page-bg-position-x: center;
  --the7-page-bg-position-y: top;
  --the7-page-bg-repeat: repeat;
  --the7-page-bg-size: auto;
  --the7-page-bottom-margin: 70px;
  --the7-page-left-margin: 50px;
  --the7-page-responsive-title-height: 0px;
  --the7-page-responsive-title-line-height: 34px;
  --the7-page-right-margin: 50px;
  --the7-page-title-bg-color: rgba(0,0,0,0.04);
  --the7-page-title-bg-image: none;
  --the7-page-title-bg-position-x: center;
  --the7-page-title-bg-position-y: center;
  --the7-page-title-bg-repeat: repeat;
  --the7-page-title-bg-size: auto auto;
  --the7-page-title-border-height: 10px;
  --the7-page-title-border-style: solid;
  --the7-page-title-bottom-padding: 30px;
  --the7-page-title-breadcrumbs-color: #adafb3;
  --the7-page-title-color: #333333;
  --the7-page-title-decorative-line-height: 6px;
  --the7-page-title-font-family: "Roboto", Helvetica, Arial, Verdana, sans-serif;
  --the7-page-title-font-weight: 700;
  --the7-page-title-height: 200px;
  --the7-page-title-line-color: rgba(51,51,51,0.11);
  --the7-page-title-line-height: 44px;
  --the7-page-title-line-style: double;
  --the7-page-title-overlay-color: rgba(0,0,0,0.5);
  --the7-page-title-text-transform: none;
  --the7-page-title-top-padding: 30px;
  --the7-page-top-margin: 70px;
  --the7-product-alignment: center;
  --the7-product-cart-gap: 25px;
  --the7-product-counter-bg-2: left, #1ebbf0 30%, #39dfaa 100%;
  --the7-product-counter-bg: #1ebbf0;
  --the7-product-counter-color: #ffffff;
  --the7-product-description-gap: 15px;
  --the7-product-img-width: 50%;
  --the7-product-microwidget-content-font-family: "Roboto", Helvetica, Arial, Verdana, sans-serif;
  --the7-product-microwidget-content-font-size-desktop: 15px;
  --the7-product-microwidget-content-font-size: 15px;
  --the7-product-microwidget-content-line-height-desktop: 1.4em;
  --the7-product-microwidget-content-line-height: 1.4em;
  --the7-product-microwidget-content-text-transform: none;
  --the7-product-price-gap: 5px;
  --the7-product-rating-gap: 10px;
  --the7-product-title-gap: 15px;
  --the7-project-rollover-bg-color-2: 135deg, rgba(30,187,240,0.85) 30%, rgba(57,223,170,0.85) 100%;
  --the7-project-rollover-bg-color: rgba(30,187,240,0.85);
  --the7-right-content-padding: 0px;
  --the7-right-input-border-width: 1px;
  --the7-right-input-padding: 15px;
  --the7-right-overlay-content-padding: 0px;
  --the7-rollover-bg-color-2: 135deg, rgba(30,187,240,0.2) 30%, rgba(57,223,170,0.2) 100%;
  --the7-rollover-bg-color: rgba(30,187,240,0.2);
  --the7-second-switch-header-padding-left: 20px;
  --the7-second-switch-header-padding-right: 20px;
  --the7-second-switch-mobile-header-height: 60px;
  --the7-second-switch: 778px;
  --the7-secondary-text-color: #adafb3;
  --the7-side-header-h-stroke-height: 130px;
  --the7-side-header-v-stroke-width: 60px;
  --the7-sidebar-distace-to-content: 50px;
  --the7-sidebar-outline-color: rgba(0,0,0,0.06);
  --the7-sidebar-responsiveness: 992px;
  --the7-sidebar-width: 350px;
  --the7-soc-ico-hover-color: #ffffff;
  --the7-soc-icons-bg-size: 26px;
  --the7-soc-icons-border-radius: 100px;
  --the7-soc-icons-border-width: 1px;
  --the7-soc-icons-gap: 5px;
  --the7-soc-icons-size: 16px;
  --the7-sticky-header-overlay-bg: rgba(17,17,17,0.4);
  --the7-sub-cart-bg: #ffffff;
  --the7-sub-cart-color: #333333;
  --the7-sub-cart-width: 260px;
  --the7-sub-menu-icon-size: 14px;
  --the7-sub-subtitle-font-family: "Roboto", Helvetica, Arial, Verdana, sans-serif;
  --the7-sub-subtitle-font-size: 10px;
  --the7-submenu-active-bg-2: 135deg, rgba(30,187,240,0.07) 30%, rgba(57,223,170,0.07) 100%;
  --the7-submenu-active-bg: rgba(30,187,240,0.07);
  --the7-submenu-active-color-2: left, #1ebbf0 30%, #39dfaa 100%;
  --the7-submenu-active-color: #1ebbf0;
  --the7-submenu-bg-color: #ffffff;
  --the7-submenu-color: #333333;
  --the7-submenu-font-family: "Roboto", Helvetica, Arial, Verdana, sans-serif;
  --the7-submenu-font-size: 13px;
  --the7-submenu-font-weight: 500;
  --the7-submenu-hover-bg-2: 135deg, rgba(30,187,240,0.07) 30%, rgba(57,223,170,0.07) 100%;
  --the7-submenu-hover-bg: rgba(30,187,240,0.07);
  --the7-submenu-hover-color-2: left, #1ebbf0 30%, #39dfaa 100%;
  --the7-submenu-hover-color: #1ebbf0;
  --the7-submenu-item-margin-bottom: 2px;
  --the7-submenu-item-margin-left: 0px;
  --the7-submenu-item-margin-right: 0px;
  --the7-submenu-item-margin-top: 0px;
  --the7-submenu-item-padding-bottom: 10px;
  --the7-submenu-item-padding-left: 10px;
  --the7-submenu-item-padding-right: 10px;
  --the7-submenu-item-padding-top: 10px;
  --the7-submenu-padding-bottom: 9px;
  --the7-submenu-padding-left: 10px;
  --the7-submenu-padding-right: 10px;
  --the7-submenu-padding-top: 9px;
  --the7-submenu-text-transform: none;
  --the7-submenu-width: 280px;
  --the7-subtitle-font-family: "Arial", Helvetica, Arial, Verdana, sans-serif;
  --the7-subtitle-font-size: 11px;
  --the7-subtitle-font-style: italic;
  --the7-subtitle-font-weight: 400;
  --the7-switch-content-paddings: 778px;
  --the7-text-big-font-size: 16px;
  --the7-text-big-line-height: 1.6em;
  --the7-text-small-font-size: 13px;
  --the7-text-small-line-height: 1.4em;
  --the7-title-color: #333333;
  --the7-title-font-size: 34px;
  --the7-title-outline-color: rgba(30,115,190,0);
  --the7-title-responsive-font-size: 24px;
  --the7-toggle-menu-bg-color-hover: rgba(255,255,255,0.75);
  --the7-toggle-menu-bg-color: rgba(255,255,255,0.75);
  --the7-toggle-menu-border-radius: 0px;
  --the7-toggle-menu-bottom-margin: 0px;
  --the7-toggle-menu-caption-color-hover: #000000;
  --the7-toggle-menu-caption-color: #000000;
  --the7-toggle-menu-caption-padding-bottom: 18px;
  --the7-toggle-menu-caption-padding-left: 15px;
  --the7-toggle-menu-caption-padding-right: 15px;
  --the7-toggle-menu-caption-padding-top: 18px;
  --the7-toggle-menu-close-bg-color: rgba(255,255,255,0.75);
  --the7-toggle-menu-close-bottom-margin: 30px;
  --the7-toggle-menu-close-color: #000000;
  --the7-toggle-menu-close-left-margin: 30px;
  --the7-toggle-menu-close-padding-bottom: 15px;
  --the7-toggle-menu-close-padding-left: 15px;
  --the7-toggle-menu-close-padding-right: 15px;
  --the7-toggle-menu-close-padding-top: 15px;
  --the7-toggle-menu-close-right-margin: 30px;
  --the7-toggle-menu-close-top-margin: 30px;
  --the7-toggle-menu-color-hover: #000000;
  --the7-toggle-menu-color: #000000;
  --the7-toggle-menu-hover-bg-color: rgba(255,255,255,0.75);
  --the7-toggle-menu-hover-color: #000000;
  --the7-toggle-menu-left-margin: 0px;
  --the7-toggle-menu-right-margin: 0px;
  --the7-toggle-menu-top-margin: 0px;
  --the7-toggle-mobile-margin-bottom: 0px;
  --the7-toggle-mobile-margin-left: 0px;
  --the7-toggle-mobile-margin-right: 0px;
  --the7-toggle-mobile-margin-top: 0px;
  --the7-toggle-mobile-menu-caption-color-hover: #333333;
  --the7-toggle-mobile-menu-caption-color: #333333;
  --the7-toggle-mobile-menu-close-bottom-margin: 0px;
  --the7-toggle-mobile-menu-close-color: #ffffff;
  --the7-toggle-mobile-menu-close-hover-color: #ffffff;
  --the7-toggle-mobile-menu-close-left-margin: 0px;
  --the7-toggle-mobile-menu-close-padding-bottom: 5px;
  --the7-toggle-mobile-menu-close-padding-left: 5px;
  --the7-toggle-mobile-menu-close-padding-right: 5px;
  --the7-toggle-mobile-menu-close-padding-top: 5px;
  --the7-toggle-mobile-menu-close-right-margin: 0px;
  --the7-toggle-mobile-menu-close-top-margin: 15px;
  --the7-toggle-mobile-padding-bottom: 12px;
  --the7-toggle-mobile-padding-left: 9px;
  --the7-toggle-mobile-padding-right: 9px;
  --the7-toggle-mobile-padding-top: 12px;
  --the7-top-bar-font-family: "Roboto", Helvetica, Arial, Verdana, sans-serif;
  --the7-top-bar-font-size: 13px;
  --the7-top-bar-font-weight: 500;
  --the7-top-bar-height: 36px;
  --the7-top-bar-icon-color: #b1b4b8;
  --the7-top-bar-icon-size: 16px;
  --the7-top-bar-line-color: rgba(51,51,51,0.11);
  --the7-top-bar-line-size: 1px;
  --the7-top-bar-line-style: solid;
  --the7-top-bar-mobile-padding-bottom: 3px;
  --the7-top-bar-mobile-padding-left: 20px;
  --the7-top-bar-mobile-padding-right: 20px;
  --the7-top-bar-mobile-padding-top: 3px;
  --the7-top-bar-padding-bottom: 3px;
  --the7-top-bar-padding-left: 50px;
  --the7-top-bar-padding-right: 50px;
  --the7-top-bar-padding-top: 3px;
  --the7-top-bar-switch-paddings: 600px;
  --the7-top-bar-text-transform: none;
  --the7-top-bar-transparent-bg-color: rgba(0,0,0,0.5);
  --the7-top-bg-color: rgba(255,255,255,0);
  --the7-top-bg-image: none;
  --the7-top-bg-position-x: center;
  --the7-top-bg-position-y: center;
  --the7-top-bg-repeat: repeat;
  --the7-top-color: #b1b4b8;
  --the7-top-icons-bg-color-hover-2: 135deg, #1ebbf0 30%, #39dfaa 100%;
  --the7-top-icons-bg-color-hover: #1ebbf0;
  --the7-top-icons-bg-color: rgba(0,0,0,0.07);
  --the7-top-icons-border-color-hover: rgba(255,255,255,0);
  --the7-top-icons-border-color: rgba(255,255,255,0);
  --the7-top-icons-color: #aeb1b5;
  --the7-top-input-border-width: 1px;
  --the7-top-input-padding: 5px;
  --the7-top-overlay-content-padding: 0px;
  --the7-transparent-logo-bottom-padding: 0px;
  --the7-transparent-logo-left-padding: 0px;
  --the7-transparent-logo-right-padding: 5px;
  --the7-transparent-logo-top-padding: 0px;
  --the7-transparent-mixed-logo-bottom-padding: 0px;
  --the7-transparent-mixed-logo-left-padding: 0px;
  --the7-transparent-mixed-logo-right-padding: 0px;
  --the7-transparent-mixed-logo-top-padding: 0px;
  --the7-transparent-mobile-logo-bottom-padding: 0px;
  --the7-transparent-mobile-logo-left-padding: 0px;
  --the7-transparent-mobile-logo-right-padding: 0px;
  --the7-transparent-mobile-logo-top-padding: 0px;
  --the7-wc-grid-product-gap: 18px;
  --the7-wc-grid-product-min-width: 220px;
  --the7-wc-list-img-width: 50%;
  --the7-wc-step-padding-bottom: 0px;
  --the7-wc-step-padding-top: 60px;
  --the7-wc-steps-bg: #ffffff;
  --the7-wc-steps-color: #333333;
  --the7-widget-content-font-family: "Open Sans", Helvetica, Arial, Verdana, sans-serif;
  --the7-widget-content-font-size-desktop: 13px;
  --the7-widget-content-font-size: 13px;
  --the7-widget-content-line-height-desktop: 20px;
  --the7-widget-content-line-height: 20px;
  --the7-widget-content-text-transform: none;
  --the7-widget-footer-color: #8b8d94;
  --the7-widget-footer-header-color: #eeeeee;
  --the7-widget-footer-padding: 25px;
  --the7-widget-gap: 20px;
  --the7-widget-sidebar-bg-color: #f7f7f8;
  --the7-widget-sidebar-bg-image: none;
  --the7-widget-sidebar-bg-position-x: center;
  --the7-widget-sidebar-bg-position-y: center;
  --the7-widget-sidebar-bg-repeat: repeat;
  --the7-widget-sidebar-color: #8b8d94;
  --the7-widget-sidebar-distace: 60px;
  --the7-widget-sidebar-header-color: #333333;
  --the7-widget-title-font-family: "Open Sans", Helvetica, Arial, Verdana, sans-serif;
  --the7-widget-title-font-size-desktop: 15px;
  --the7-widget-title-font-size: 15px;
  --the7-widget-title-line-height-desktop: 20px;
  --the7-widget-title-line-height: 20px;
  --the7-widget-title-text-transform: none;
  --the7-woo-content-font-family: "Open Sans", Helvetica, Arial, Verdana, sans-serif;
  --the7-woo-content-font-size-desktop: 15px;
  --the7-woo-content-font-size: 15px;
  --the7-woo-content-line-height-desktop: 20px;
  --the7-woo-content-line-height: 20px;
  --the7-woo-content-text-transform: none;
  --the7-woo-title-font-family: "Open Sans", Helvetica, Arial, Verdana, sans-serif;
  --the7-woo-title-font-size-desktop: 15px;
  --the7-woo-title-font-size: 15px;
  --the7-woo-title-line-height-desktop: 20px;
  --the7-woo-title-line-height: 20px;
  --the7-woo-title-text-transform: none;
}
@media screen and (max-width: 1100px) {
  :root {
    --the7-h1-font-size: 34px;
  }
}
@media screen and (max-width: 767px) {
  :root {
    --the7-h1-font-size: 34px;
  }
}
