/* Bootstrap Grid v4.0.0 (https://getbootstrap.com)*/
.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.flex-column {
  flex-direction: column;
}
.justify-content-start {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.justify-content-end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.justify-content-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.justify-content-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.justify-content-around {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.elementor-edit-area-active .elementor-inline-editing {
  min-height: 10px;
}

.elementor-button,
.elementor-widget-accordion a,
.elementor-tab-title a,
.elementor-tab-title a,
.elementor-cta,
.elementor-headline,
.elementor-widget .elementor-icon-list-item a,
.elementor-widget-reviews .elementor-testimonial__header,
.elementor-post-navigation .elementor-post-navigation__link a,
.elementor-nav-menu--main .elementor-nav-menu a,
.elementor-price-list .elementor-price-list-item,
.elementor-blockquote__tweet-button {
  text-decoration: none;
}

.elementor-widget article.visible {
  animation: none;
}

.elementor-slideshow__header {
  box-sizing: border-box;
}

body.elementor-clear-template #main > .wf-wrap,
#footer.elementor-footer > .wf-wrap {
  width: auto;
  padding: 0;
}

body.elementor-clear-template #main,
#footer.elementor-footer > .wf-wrap,
#footer.elementor-footer > .wf-wrap > .wf-container-footer,
#footer.elementor-footer > .wf-wrap > .wf-container-footer > .wf-container {
  padding: 0;
  margin: 0;
}
.elementor-widget-text-path svg:not(:root) {
  overflow: visible;
}
/*predefined styles*/
input.elementor-field,
textarea.elementor-field,
select.elementor-field {
  height: auto;
  padding: 5px 14px;
  border-radius: 3px;
}

.elementor-field-textual {
  line-height: 1.4;
  font-size: 15px;
  min-height: 40px;
  padding: 5px 14px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.elementor-field-textual.elementor-size-sm {
  border-radius: 3px;
}
.elementor-field-textual.elementor-size-xs,
.content .elementor-field-textual.elementor-size-xs {
  font-size: 13px;
  line-height: 1.4;
  min-height: 33px;
  padding: 4px 12px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

.elementor-field-textual.elementor-size-md,
.content .elementor-field-textual.elementor-size-md {
  font-size: 16px;
  line-height: 1.4;
  min-height: 47px;
  padding: 6px 16px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.elementor-field-textual.elementor-size-lg,
.content .elementor-field-textual.elementor-size-lg {
  font-size: 18px;
  line-height: 1.4;
  min-height: 59px;
  padding: 7px 20px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.elementor-field-textual.elementor-size-xl,
.content .elementor-field-textual.elementor-size-xl {
  font-size: 20px;
  line-height: 1.4;
  min-height: 72px;
  padding: 8px 24px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}

.elementor-form .elementor-button.elementor-size-xs {
  min-height: 33px;
}
#reviews .comment-form #submit.elementor-size-xs {
	min-height: 33px;
	line-height: 1.4;
	padding: 10px 20px;
	border-radius: 2px;
}
.elementor-form .elementor-button.elementor-size-sm {
  min-height: 40px;
}
#reviews .comment-form #submit.elementor-size-sm {
	min-height: 40px;
	line-height: 1.4;
	padding: 12px 24px;
	border-radius: 3px;
}

.elementor-form .elementor-button.elementor-size-md {
  min-height: 47px;
}
#reviews .comment-form #submit.elementor-size-md {
	min-height: 47px;
	line-height: 1.4;
	padding: 15px 30px;
	border-radius: 4px;
}
.elementor-form .elementor-button.elementor-size-lg {
  min-height: 59px;
}
#reviews .comment-form #submit.elementor-size-lg {
	min-height: 59px;
	line-height: 1.4;
	padding: 20px 40px;
	border-radius: 5px;
}
.elementor-form .elementor-button.elementor-size-xl {
	min-height: 72px;
}
#reviews .comment-form #submit.elementor-size-xl {
	min-height: 72px;
	line-height: 1.4;
	padding: 25px 50px;
	border-radius: 6px;
}

.elementor-button.elementor-size-xs {
  font-size: 13px;
  padding: 10px 20px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

.elementor-button.elementor-size-sm {
  font-size: 15px;
  padding: 12px 24px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.elementor-button.elementor-size-md {
  font-size: 16px;
  padding: 15px 30px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.elementor-button.elementor-size-lg {
  font-size: 18px;
  padding: 20px 40px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.elementor-button.elementor-size-xl {
  font-size: 20px;
  padding: 25px 50px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}

.elementor-element.elementor-button-info .elementor-button:hover {
  background-color: #5bc0de;
  color: #fff;
}

.elementor-element.elementor-button-success .elementor-button:hover {
  background-color: #5cb85c;
  color: #fff; }

.elementor-element.elementor-button-warning .elementor-button:hover {
  background-color: #f0ad4e;
  color: #fff; }

.elementor-element.elementor-button-danger .elementor-button:hover {
  background-color: #d9534f;
  color: #fff; }

.elementor-wc-products .star-rating span:before,
.elementor-widget-woocommerce-product-rating .star-rating span:before {
  color: inherit;
}

.elementor-add-to-cart .quantity input.qty {
  height: auto;
  width: auto;
}
.woocommerce div.product.elementor .quantity .qty {
  margin-bottom: 0;
  width: 3.631em;
}
.elementor-widget-woocommerce-product-add-to-cart form.cart .variations select {
  width: 100%;
}
.elementor-widget-woocommerce-product-add-to-cart .variations td.value .reset_variations {
  text-align: left;
  color: var(--the7-secondary-text-color);
  font-size: 12px;
}
/*.woocommerce div.product.elementor form.cart table.variations td.value select {
  -webkit-appearance: sliderthumb-vertical !important;
}*/
.elementor-widget-woocommerce-product-add-to-cart form.cart div.quantity {
  margin: 0 10px 0 0;
}

.elementor-widget-woocommerce-product-add-to-cart table.variations {
  margin-bottom: 0;
}
.elementor-widget-woocommerce-product-add-to-cart table.variations tr,
.elementor-widget-woocommerce-product-add-to-cart table.variations td {
 display: block;
 padding: 0;
}
.elementor-widget-woocommerce-product-add-to-cart .variations select {
  margin-bottom: 0 !important;
}
.elementor-widget-wc-add-to-cart table.variations,
.elementor-widget-wc-add-to-cart table.variations tbody,
.elementor-widget-wc-add-to-cart .variations select {
  width: 100%;
}

.elementor-menu-cart__main .product_list_widget.cart_list {
  margin: 0 0 15px 0;
  max-height: calc(100vh - 200px);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.elementor-menu-cart__main .variation dt {
  clear: initial;
}

.elementor-button span,
button.elementor-button *,
button.elementor-button:hover *,
.elementor-button .elementor-button-content-wrapper * {
  color: inherit;
}

.elementor-menu-cart__main .variation dd {
  float: initial;
}

.elementor-align-center .woocommerce-variation-add-to-cart {
  justify-content: center;
}

.elementor-align-right .woocommerce-variation-add-to-cart {
  justify-content: flex-end;
}

.elementor-align-justify form.cart .quantity {
  margin-bottom: 15px;
}

.elementor-widget-woocommerce-product-images .woocommerce-product-gallery__wrapper,
.elementor-widget-woocommerce-product-images .woocommerce-product-gallery__image,
.elementor-widget-woocommerce-product-images .woocommerce-product-gallery__image img {
  border-radius: inherit;
}

.elementor-star-rating {
  line-height: 1;
}



.elementor-lightbox .elementor-swiper-button:focus,
.elementor-lightbox .elementor-swiper-button {
  outline: none !important;
}

.elementor-field-group .elementor-select-wrapper:before {
  display: none;
}

.content .elementor-toc__list-wrapper {
  list-style: none;
}

.elementor-alert-description {
  display: block;
}

.elementor-widget-woocommerce-product-price .price {
  margin-bottom: 0;
}

body .product .elementor-widget-woocommerce-product-images div.images {
  margin: 0;
}

body .elementor-widget-wp-widget-woocommerce_product_categories ul.product-categories,
body .elementor-widget-wp-widget-woocommerce_recently_viewed_products ul,
body .elementor-widget-wp-widget-woocommerce_top_rated_products ul,
body .elementor-widget-wp-widget-woocommerce_products ul,
body .elementor-widget-wp-widget-woocommerce_recent_reviews ul,
body .elementor-widget-wp-widget-woocommerce_widget_cart ul,
body .elementor-widget-wp-widget-woocommerce_layered_nav ul,
body .elementor-widget-wp-widget-woocommerce_layered_nav_filters ul,
body .elementor-widget-wp-widget-woocommerce_layered_nav_filters select,
body .elementor-widget-wp-widget-woocommerce_layered_nav select {
  margin: 0;
}

.elementor-widget-wp-widget-woocommerce_product_categories ul.product-categories ul {
  margin-bottom: 0;
}

.elementor-widget-wp-widget-woocommerce_product_categories select {
  max-width: 100%;
  width: 100%;
}

.elementor-widget .product_list_widget .star-rating {
  float: none;
}

.elementor-widget .woocommerce h5 {
  margin-bottom: 15px;
}

.elementor-widget-wp-widget-woocommerce_widget_cart .quantity {
  text-align: left;
}

.elementor-widget-wp-widget-woocommerce_layered_nav .select2-container .select2-selection--multiple .select2-selection__rendered {
  display: inline-flex;
  align-items: center;
}

#page .elementor-widget-wp-widget-woocommerce_layered_nav .select2-container--default .select2-selection--multiple li {
  margin: 0 1px 1px 0;
}

[data-elementor-device-mode="desktop"] .elementor-edit-area-active .elementor-hidden-desktop.elementor-widget-the7-woocommerce-product-images,
[data-elementor-device-mode="tablet"] .elementor-edit-area-active .elementor-hidden-tablet.elementor-widget-the7-woocommerce-product-images,
[data-elementor-device-mode="mobile"] .elementor-edit-area-active .elementor-hidden-phone.elementor-widget-the7-woocommerce-product-images{
  display: block;
}

.elementor-element.elementor-widget-the7-woocommerce-product-images:not(.fix) {
  width: 100%;
}

.elementor-widget .dt-wc-product-gallery {
  align-items: flex-start;
}

.elementor-widget .dt-wc-product-gallery .flexslider{
  visibility: hidden;
}

.elementor-widget .dt-product-gallery .flexslider{
  position: relative;
}

.elementor-widget .dt-product-thumbs,
.elementor-widget .dt-product-thumbs .flexslider{
  position: relative;
  width: 100%;
}

.elementor-widget .dt-wc-product-gallery[data-animation="fade"] .dt-product-gallery ul.slides{
  overflow: hidden;
}

.elementor-widget .dt-product-thumbs .flex-viewport {
  z-index: 2;
  min-width: 100%;
  height: 100%;
}

/*.thumb-position-bottom .dt-product-thumbs {
  padding: 0 20px;
}*/
.elementor-widget .dt-wc-product-gallery:not(.thumb-position-bottom ) .dt-product-thumbs .slides{
  width: auto !important;
  height: 800%;
}

.elementor-widget .stop-transition .slides {
  transform: translate3d(0px, 0px, 0px) !important;
}

.elementor-widget .dt-wc-product-gallery:not(.thumb-position-bottom ) .dt-product-thumbs .slides li{
  float: none !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.elementor-widget .dt-product-thumbs .slides .slide-wrapper,
.elementor-widget .dt-product-gallery .slides > li > a{
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
  overflow: hidden;
}

.content .elementor-widget .dt-wc-product-gallery ul {
  margin: 0;
}

.elementor-widget .thumb-position-bottom .dt-product-thumbs .slides {
  display: flex;
  align-items: center;
}

.elementor-widget .dt-product-gallery ul.slides {
  display: flex;
  align-items: center;
}

.elementor-widget .dt-wc-product-gallery .dt-product-thumbs,
.elementor-widget .dt-wc-product-gallery:not(.thumb-position-bottom ){
  display: flex;
}

.elementor-widget .thumb-position-bottom .dt-wc-product-gallery {
  flex-flow: row wrap;
}


.elementor-widget .product .dt-wc-product-gallery div.images,
.elementor-widget .thumb-position-right .dt-product-thumbs {
  width: 100%;
}

.elementor-widget .dt-product-gallery .slides li {
  text-align: center;
  line-height: 0;
  max-width: 100%;
  overflow: visible !important;
}

/*fix to prevent animation flickering*/
.elementor-widget .dt-product-gallery .slides > li,
.elementor-widget .dt-product-thumbs .slides > li > .slide-wrapper{
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-transform: translateZ(0px) scale(1.0, 1.0);
}
/*endfix*/

.elementor-widget .dt-product-gallery .slides a {
  pointer-events: none;
  display: block;
}

.elementor-widget .thumb-position-left .dt-product-gallery {
  order: 1;
}

.elementor-widget .thumb-position-left .dt-product-thumbs {
  order: 0;
}

div[class*='elementor-widget-the7'] > .elementor-widget-container .img-ratio-wrapper {
  display: block;
  line-height: 0;
}

.elementor-widget .dt-wc-product-gallery:not(.thumb-position-bottom ) .dt-product-thumbs .slides .slide-wrapper,
div[class*='elementor-widget-the7']:not(.preserve-thumb-ratio-y) .dt-product-thumbs .slides .slide-wrapper,
div[class*='elementor-widget-the7']:not(.preserve-img-ratio-y) > .elementor-widget-container .img-ratio-wrapper,
div[class*='elementor-widget-the7']:not(.preserve-img-ratio-y) .the7-product-navigation .img-ratio-wrapper{
  overflow: hidden;
  width: 100%;
  height: 0;
  position: relative;
}

.elementor-widget .dt-product-gallery{
  position: relative;
  height: 0;
  width: 100%;
}

.elementor-widget .dt-product-gallery .slides,
.elementor-widget .dt-product-gallery .flex-viewport,
.elementor-widget .dt-product-gallery .flexslider,
.elementor-widget .dt-product-gallery{
  height: 100%;
}

.elementor-widget .dt-wc-product-gallery:not(.thumb-position-bottom ) .dt-product-thumbs .flexslider{
  width: inherit;
}

.elementor-widget .dt-wc-product-gallery:not(.thumb-position-bottom ) .dt-product-thumbs {
  width: calc(
      (1/var(--thumbs_ratio))
      *
      ((var(--widget-width) - ((1/var(--gallery-ratio))*var(--thumbs-spacing)*var(--thumbs-items)) + ((1/var(--gallery-ratio))*var(--thumbs-spacing)) - var(--gallery-spacing))
      /
      ((((1/var(--gallery-ratio))*var(--thumbs-items)) + (1/var(--thumbs_ratio))))
      )
  )
}

.elementor-widget .dt-product-gallery:before {
  content: "";
  float: left;
  width: 100%;
}
.elementor-widget .dt-product-gallery:after {
  content: "";
  display: table;
  clear: both;
}

.elementor-widget .dt-wc-product-gallery:not(.thumb-position-bottom ) .dt-product-thumbs .slides .slide-wrapper{
  height: 100%;
}

.elementor-widget.preserve-thumb-ratio-y .thumb-position-bottom  .dt-product-thumbs .slides .slide-wrapper img{
	height: auto !important;
}

/*image ratio styles*/
.elementor-widget:not(.preserve-thumb-ratio-y) .dt-product-thumbs .slides .slide-wrapper img,
.elementor-widget:not(.preserve-gallery-ratio-y) .dt-product-gallery .slides a img,
div[class*='elementor-widget-the7']:not(.preserve-img-ratio-y) > .elementor-widget-container .img-ratio-wrapper img,
.elementor-widget:not(.preserve-img-ratio-y) .the7-product-navigation a img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/*ie fallback*/
.elementor-widget .slides .slide-wrapper.compat-object-fit img,
.elementor-widget .slides li.compat-object-fit a img,
.elementor-widget .the7-product-navigation .img-ratio-wrapper.compat-object-fit img{
  display:none;
}
.elementor-widget .slides .slide-wrapper.compat-object-fit,
.elementor-widget .slides li.compat-object-fit,
.elementor-widget .the7-product-navigation .img-ratio-wrapper.compat-object-fit{
  background-size: cover;
  background-position: center center;
}
.elementor-widget.preserve-thumb-ratio-y .dt-product-thumbs .slides .slide-wrapper.compat-object-fit,
.elementor-widget.preserve-gallery-ratio-y .dt-product-gallery .slides li.compat-object-fit,
.elementor-widget.preserve-img-ratio-y .the7-product-navigation .img-ratio-wrapper.compat-object-fit{
  background-size: contain;
  background-repeat: no-repeat;
}
/*end ie fallback*/

.elementor-widget:not(.preserve-thumb-ratio-y) .dt-product-thumbs .flexslider .slides .slide-wrapper img,
.elementor-widget:not(.preserve-gallery-ratio-y) .dt-product-gallery .flexslider .slides a img,
div[class*='elementor-widget-the7']:not(.preserve-img-ratio-y) > .elementor-widget-container .img-ratio-wrapper img,
.elementor-widget:not(.preserve-img-ratio-y) .the7-product-navigation .img-ratio-wrapper img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.elementor-widget:not(.preserve-thumb-ratio-y) .dt-product-thumbs .slides .slide-wrapper,
.elementor-widget .dt-product-gallery .slides > li{
  height: 100%;
}

body .elementor-widget .dt-product-gallery-wrap{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: relative;
  float: none;
  padding: 0;
}

.elementor-widget .thumb-position-bottom .dt-product-thumbs .slides,
.elementor-widget .thumb-position-bottom .dt-product-thumbs .slides li{
  height:100%;
}

.elementor-widget .dt-wc-product-gallery:not(.thumb-position-bottom ) .dt-product-thumbs .slides li{
  width: 100% !important;
}

.content .elementor-widget .flex-direction-nav {
  list-style: none;
}

.elementor-widget .dt-wc-product-gallery .flex-direction-nav > li{
  position: absolute;
  z-index: 100;
}

.elementor-widget .dt-wc-product-gallery .flex-direction-nav > li > a{
  min-width: 45px;
  min-height: 45px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: all .3s;
}

.elementor-widget .dt-product-thumbs .flex-direction-nav > li > a{
  min-width: 40px;
  min-height: 40px;
}

.elementor-widget.gallery-nav-display-never .dt-product-gallery .flex-direction-nav,
.elementor-widget.thumbs-nav-display-never .dt-product-thumbs .flex-direction-nav{
  display: none;
}

.elementor-widget.gallery-nav-display-hover .dt-product-gallery .flex-direction-nav > li > a,
.elementor-widget.thumbs-nav-display-hover .dt-product-thumbs .flex-direction-nav > li > a{
  opacity: 0;
  overflow: hidden;
}

.elementor-widget.gallery-nav-display-hover .dt-product-gallery .flexslider:hover .flex-direction-nav > li > a,
.elementor-widget.thumbs-nav-display-hover .dt-product-thumbs .flexslider:hover .flex-direction-nav > li > a{

  opacity: 1;
}

.elementor-widget .dt-product-gallery .flex-direction-nav > li,
.elementor-widget .thumb-position-bottom .dt-product-thumbs .flex-direction-nav > li{
  top: 50%;
  transform: translateY(-50%);
}

.elementor-widget .thumb-position-bottom .dt-product-thumbs .flex-direction-nav > .flex-nav-prev,
.elementor-widget .dt-product-gallery .flex-direction-nav > .flex-nav-prev {
  left: 0;
}

.elementor-widget .thumb-position-bottom .dt-product-thumbs .flex-direction-nav > .flex-nav-next,
.elementor-widget .dt-product-gallery .flex-direction-nav > .flex-nav-next {
  right: 0;
}

.elementor-widget .dt-wc-product-gallery:not(.thumb-position-bottom) .dt-product-thumbs .flex-direction-nav > .flex-nav-prev{
  top: 0;
  left: 50%;
  transform: translateX(-50%) rotate(90deg);
}

.elementor-widget .dt-wc-product-gallery:not(.thumb-position-bottom) .dt-product-thumbs .flex-direction-nav > .flex-nav-next{
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) rotate(-270deg);
}

.elementor-widget .dt-product-gallery .flex-direction-nav > li > a{
  font-size: 24px;
}

.elementor-widget .dt-product-thumbs .flex-direction-nav > li > a{
  font-size: 16px;
}

.elementor-widget .dt-wc-product-gallery .flex-direction-nav > li > a{
  color: rgba(0, 0, 0, 0.5);
}

.elementor-widget .dt-wc-product-gallery .flex-direction-nav > li > a:hover {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.9);
  opacity: 1;
}

.dt-wc-product-gallery .dt-product-thumbs .slides .slide-wrapper,
.dt-wc-product-gallery .dt-product-gallery .flexslider .flex-viewport,
.elementor-widget .dt-wc-product-gallery[data-animation="fade"] .dt-product-gallery ul.slides,
.the7-related-products .wf-cell {
  border-color: var(--the7-divider-color);
}

.elementor-widget .dt-wc-product-gallery .stop-transition .flex-direction-nav,
.elementor-widget .dt-wc-product-gallery .flex-direction-nav .flex-disabled{
  display: none;
}

.elementor-widget .dt-product-thumbs .slides li {
  line-height: 0;
  display: flex !important;
  transition: opacity 0.2s ease-in-out;
}

.elementor-widget .dt-product-thumbs .slides li:not(.flex-active-slide) {
  opacity: 0.5;
}

.elementor-widget .dt-product-thumbs .slides li:not(.flex-active-slide):hover {
  cursor: pointer;
  opacity: 1;
}

.elementor-widget .dt-product-gallery .zoom-flash {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9;
  width: 36px;
  height: 36px;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 100%;
  box-sizing: content-box;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: 14px;
  text-indent: 0;
  color: #fff;
  transition: all 0.3s;
}

.elementor-widget .dt-product-gallery .zoom-flash:before {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.elementor-widget .dt-product-gallery .zoom-flash:after {
  display: none;
}

.elementor-widget .dt-product-gallery span.onsale {
  padding: 0;
  display: none;
  min-height: 39px;
  min-width: 39px;
  line-height: 39px;
}

.elementor-widget.lightbox-on-click-y .dt-product-gallery .woocommerce-product-gallery__image{
  cursor: pointer;
}

.elementor-popup-modal ul:not(.vertical-sub-nav):not(.children) {
  list-style: disc outside none;
  margin: 0 0 10px 20px;
}
.elementor-popup-modal ol {
  list-style-type: decimal;
  margin: 0 0 10px 20px;
}

/*Product tab*/

.hide-tab-description #tab-title-description,
.hide-tab-description #tab-description,
.hide-tab-additional #tab-title-additional_information,
.hide-tab-additional #tab-additional_information,
.hide-tab-eviews #tab-title-reviews,
.hide-tab-eviews #tab-reviews {
  display: none !important;
}
.the7-elementor-widget.elementor-tabs .woocommerce-tabs .tabs li {
  margin: 0;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.the7-elementor-widget.elementor-tabs .woocommerce-tabs .tabs li > a {
  display: block;
  transition: all 0.3s;
}
.the7-elementor-widget .woocommerce-tabs {
  padding-top: 0;
}
.the7-elementor-widget > .woocommerce-tabs > .panel {
  display: none;
}
#page .the7-elementor-widget .woocommerce-tabs .panel {
  margin-top: 0;
  text-align: left;
}
.the7-elementor-widget .tabs li:after {
  position: absolute;
  display: block !important;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: '';
  background: green;
}

.dt-tab-accordion-title {
  display: none;
  position: relative;
}

.tabs-accordion-align-center .the7-elementor-widget .dt-tab-accordion-title {
  text-align: center;
}
.tabs-accordion-align-right .the7-elementor-widget .dt-tab-accordion-title {
  text-align: right;
}
.dt-tabs-view-accordion.the7-elementor-widget .dt-tab-accordion-title {
  display: block;
  border: 0;
}
.woocommerce .product.elementor .dt-tabs-view-accordion .woocommerce-tabs .panel {
  border-top-width: 0;
  padding: 0;
}
/*Horizontal tabs*/

.tabs-top-align-justify .the7-elementor-widget .wc-tabs {
  display: flex;
}
/*.tabs-top-align-justify .the7-elementor-widget .wc-tabs li {
  flex-grow: 1;
}*/
.dt-tabs-view-accordion.the7-elementor-widget .wc-tabs {
  display: none;
}
.woocommerce .the7-elementor-widget.dt-tabs-view-horizontal .tabs li.active:before,
.woocommerce .the7-elementor-widget.dt-tabs-view-horizontal .tabs li.active:after {
    bottom: 0;
    top: auto;
    height: 0;
    width: 999em;
    border-bottom-style: solid !important;
}


.dt-tabs-view-horizontal .wc-tabs {
  display: flex;
}
.dt-tabs-view-horizontal .wc-tabs li {
  border: solid transparent;
  display: inline-flex;
  float: none;
}
/*Vertical tabs*/
.the7-elementor-widget.dt-tabs-view-vertical .woocommerce-tabs {
  display: flex;
}
.the7-elementor-widget .woocommerce-tabs .shop_attributes {
  padding: 0;
}
.the7-elementor-widget.dt-tabs-view-vertical .wc-tabs {
  display: flex;
  flex-flow: column;
  padding: 0;
}
.elementor-position-right .the7-elementor-widget .wc-tabs {
  order: 1;
}
.tabs-top-align-center .dt-tabs-view-horizontal .wc-tabs {
  justify-content: center;
}
.tabs-top-align-right .dt-tabs-view-horizontal .wc-tabs {
  justify-content: flex-end;
}
.tabs-top-align-justify .dt-tabs-view-horizontal .wc-tabs li {
  align-items: center;
  flex-grow: 1;
}
.the7-elementor-widget .dt-tabs-view-vertical .woocommerce-tabs .woocommerce-Tabs-panel {
  margin-top: 0 !important;
  text-align: left;
}
.dt-tabs-view-vertical .wc-tabs li {
  position: relative;
  float: none;
  display: flex;
  margin: 0;
  border: solid transparent;
}

/*.the7-elementor-widget.dt-tabs-view-vertical .tabs li.active {
  border-right-style: none;
}*/
.the7-elementor-widget .tabs li.active:before,
.the7-elementor-widget .tabs li.active:after {
    display: block !important;
    content: '' !important;
    position: absolute !important;
}
.woocommerce .the7-elementor-widget.dt-tabs-view-vertical .tabs li.active:before,
.woocommerce .the7-elementor-widget.dt-tabs-view-vertical .tabs li.active:after {
    height: 999em;
    width: 0;
    right: 0;
    left: auto;
    border-right-style: solid !important;
}
.elementor-position-right .the7-elementor-widget.dt-tabs-view-vertical .tabs li.active:before,
.elementor-position-right .the7-elementor-widget.dt-tabs-view-vertical .tabs li.active:after {
  right: auto;
  left: 0;
}

.elementor-widget-the7-woocommerce-product-data-tabs .woocommerce-product-attributes {
  margin-bottom: 0;
  background: none;
}
.the7-elementor-product-comments .comment-respond > h3,
.the7-elementor-product-comments .comments-area > h3 {
  margin: 0;
  padding: 0;
}
.the7-elementor-product-comments .comment-respond > h3:after,
.the7-elementor-product-comments .comments-area > h3:after {
  display: none;
}
.the7-elementor-product-comments .comment-respond {
  width: 100%;
}
.the7-elementor-product-comments .comment-respond,
.the7-elementor-product-comments .comment-reply-title {
  display: block;
}
.hide-labels.the7-elementor-product-comments label:not([for="wp-comment-cookies-consent"]),
.hide-required.the7-elementor-product-comments .required,
.the7-elementor-product-comments .dt-btn,
.elementor-widget-the7-woocommerce-product-review:not(.elementor-review-col-2) .the7-elementor-product-comments.hide-comments  .woocommerce-Reviews #comments{
  display: none;
}
.elementor-widget-the7-woocommerce-product-review:not(.elementor-review-col-2) #comments{
	padding-bottom: var(--grid-column-gap);
}

.the7-elementor-product-comments .comment-form {
  display: flex;
  flex-flow: row wrap;
  margin-top: 30px;
}
.elementor-button-align-stretch .comment-form #submit {
  flex-basis: 100%;
}

.the7-elementor-product-comments .woocommerce-Reviews .comment-form-rating{
  margin-top:0;
}

.the7-elementor-product-comments .woocommerce-Reviews .comment-form-rating{
  display: flex;
}
.the7-elementor-product-comments .woocommerce-Reviews .comment-form-rating label {
  margin-right: 10px;
  margin-bottom: 0!important;
  display: block;
}


.the7-elementor-product-comments .woocommerce-Reviews .comment-form-rating,
.the7-elementor-product-comments .woocommerce-Reviews .comment-form-rating select,
.the7-elementor-product-comments .comment-notes,
.the7-elementor-product-comments .elementor-field-type-submit,
.the7-elementor-product-comments .comment-form-comment {
  width: 100%;
}
.the7-elementor-product-comments .comment-form-rating p,
.the7-elementor-product-comments input[type="text"],
.the7-elementor-product-comments input[type="url"]:not(.elementor-field),
.the7-elementor-product-comments input[type="email"]:not(.elementor-field),
.the7-elementor-product-comments #reviews ol.commentlist .comment_container p.meta,
.the7-elementor-product-comments .comment-reply-title,
.the7-elementor-product-comments .woocommerce-Reviews-title,
.the7-elementor-product-comments .woocommerce-noreviews,
.the7-elementor-product-comments #reviews .comment-text .description p:last-child,
.elementor-widget-post-comments .comment-content p:last-child,
.elementor-widget-woocommerce-cart input:not(.class-1):not(.class-2){
  margin-bottom: 0;
}
.the7-elementor-product-comments #reviews ol.commentlist li:last-child {
  margin-bottom: 0 !important;
}

.the7-elementor-product-comments .commentlist .comment_container .meta{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.the7-elementor-product-comments #reviews .commentlist .comment_container .meta .woocommerce-review__author{
  margin-right: 5px;
  margin-bottom: 0;
}

.the7-elementor-product-comments .commentlist .comment_container .meta .woocommerce-review__verified{
  line-height: var(--the7-text-small-line-height);
  font-size: var(--the7-text-small-font-size);
  color: var(--the7-secondary-text-color);
}

.the7-elementor-product-comments .commentlist .comment_container .meta .woocommerce-review__published-date {
  flex-basis: 100%;
}

.the7-elementor-product-comments #commentform textarea,
.the7-elementor-product-comments #commentform input[type="text"],
.the7-elementor-product-comments #commentform input[type="email"] {
  margin-bottom: 0;
  height: auto;
}
.the7-elementor-product-comments .woocommerce-noreviews {
  display: block;
}
.the7-elementor-product-comments input::placeholder,
.the7-elementor-product-comments textarea::placeholder{
  opacity: 0.5 !important;
  color: inherit !important;
}
.the7-elementor-product-comments #reviews ol.commentlist .comment_container {
  display: grid;
  grid-template-areas: "thumb text";
  grid-template-columns: 60px calc(100% - 75px);
  grid-column-gap: 15px;
  padding: 20px;
}
.the7-elementor-product-comments .comment_container > img {
  grid-area: thumb;
}
.the7-elementor-product-comments .comment-text {
  grid-area: text;
}
.the7-elementor-product-comments .comment-text {
  display: grid;
  grid-template-areas: "title star" " desc desc";
  grid-template-columns: 1fr auto;
  grid-auto-rows: min-content;
}
.the7-elementor-product-comments .star-rating {
  grid-area: star;
  order: 1;
  width: initial;
}

.the7-elementor-product-comments .star-rating:before{
  position: initial;
}

#page .the7-elementor-product-comments .stars a{
  width: 1em;
  padding-right: 1em;
}

.the7-elementor-product-comments .stars span{
  display: inline-flex;
}

.the7-elementor-product-comments .meta {
  grid-area: title;
  order: 0;
}
.the7-elementor-product-comments .description {
  grid-area: desc;
  order: 2;
}
.the7-elementor-product-comments #reviews ol.commentlist {
  padding-bottom: 0;
}
.the7-elementor-product-comments #reviews .commentlist li img.avatar {
  margin: 0 20px 15px 0px;
  object-fit: contain;
  align-self: flex-start;
}
.the7-elementor-product-comments .comment-text {
  width: 100%;
}
.the7-elementor-product-comments .comment_container .meta > * {
  display: block;
}

.the7-elementor-product-comments .comment_container .meta .woocommerce-review__awaiting-approval {
  font-style: inherit;
}
.the7-elementor-product-comments .logged-in-as,
.the7-elementor-product-comments .comment-notes,
.the7-elementor-product-comments .woocommerce-noreviews,
.the7-elementor-product-comments .comment-form label,
.the7-elementor-product-comments .comment-form-cookies-consent,
.the7-elementor-product-comments .comment-form-cookies-consent label{
  font-family: var(--the7-base-font-family );
  font-weight: var(--the7-base-font-weight);
  color: var(--the7-base-color);
  font-size: var(--the7-base-font-size);
  line-height: var(--the7-base-line-height);
}

.the7-product-filter *,
.the7-product-filter .elementor-icon,
.the7-product-filter .elementor-icon *{
	transition: none;
}

.the7-product-filter .filter-nav > li{
	list-style: none;
}

.the7-product-filter{
	visibility: hidden;
}
.widget_shopping_cart_content .elementor-menu-cart__products {
  border: none;
}
.content .elementor-sitemap-list .children {
    margin-top: 10px;
    margin-bottom: 0px;
}
.elementor-widget-image-carousel .swiper-container .swiper-slide figure img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img-wrap {
  transition: opacity 0.3s;
}
.img-wrap:before,
.img-wrap:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: inherit;
}
.img-wrap:hover:before,
.img-wrap:after {
  opacity: 0;
}
.img-wrap:before {
  z-index: 1;
  opacity: 1;
}
.img-wrap:hover:after {
  opacity: 1;
}

/*Buttons*/
.box-button {
  position: relative;
  font: var(--the7-btn-s-font);
  text-transform: var(--the7-btn-s-text-transform);
  letter-spacing: var(--the7-btn-s-letter-spacing);
  border-radius: var(--the7-btn-s-border-radius);
  border-width: var(--the7-btn-s-border-width);
  border-style: var(--the7-btn-s-border-style);
  padding: var(--the7-btn-s-padding);
  border-color: var(--the7-btn-border-color);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  --btn-icon-spacing: 7px;
}
.elementor-element .box-button.no-text {
  --btn-icon-spacing: 0px;
}
.woo-buttons a.box-button {
  display: inline-flex;
}
.box-button:hover,
.box-button:visited,
.box-hover:hover .box-button,
.box-button:hover i {
   color: var(--the7-btn-hover-color);
}
.box-hover .box-button {
  pointer-events: none;
}

.box-button i {
  color: var(--the7-btn-color);
  transition: color 0.3s ease;
}

.box-button svg {
  width: 1em;
  height: auto;
  fill: var(--the7-btn-color);
  transition: all 0.3s ease;
}

.box-button:hover svg,
.box-hover:hover .box-button svg {
   fill: var(--the7-btn-hover-color);
}

.the7-product-price-filter .filter-container {
  overflow: visible;
}

/** Product Count Widget */
.elementor-widget-the7-products-counter .woocommerce-result-count {
  font-size: var(--the7-text-small-font-size);
  line-height: var(--the7-text-small-line-height);
  color: var(--the7-base-color);
  margin-bottom: 0;
}
#page .elementor-search-form input.elementor-search-form__input,
.elementor-popup-modal .elementor-search-form input.elementor-search-form__input {
  align-self: center;
  margin-bottom: 0;
}
.elementor-search-form--skin-full_screen .elementor-search-form input[type="search"].elementor-search-form__input {
  height: auto;
}
.elementor-widget-woocommerce-cart input:not(.class-1):not(.class-2) {
  line-height: normal;
}
.elementor-lightbox.elementor-search-form--full-screen .dialog-lightbox-close-button {
  top: 0;
}
.elementor-widget-woocommerce-cart .woocommerce {
  font-family: var(--the7-base-font-family);
  font-size: var(--the7-base-font-size);
  font-weight: var(--the7-base-font-weight);
}

.elementor-widget-woocommerce-cart .cart_totals table.shop_table_responsive tr td::before {
  margin-right: 5px;
}
.elementor-widget-woocommerce-cart .woocommerce .input-text:not(.qty),
.elementor-widget-woocommerce-cart .woocommerce select {
  border:  none;
}
.elementor-widget-woocommerce-cart .woocommerce .input-text,
.elementor-widget-woocommerce-cart .woocommerce select {
  height: auto;
}

.theme-dt-the7 .elementor-widget-woocommerce-cart .select2-container .select2-selection--single {
  border-radius: var(--forms-fields-border-radius, 0px);
}
.elementor-widget-woocommerce-cart .select2-container--default:not(.select2-container--open) .select2-selection--single .select2-selection__arrow b {
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  border-left-color: transparent !important;
}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-right-color: transparent !important;
  border-top-color: transparent !important;
  border-left-color: transparent !important;
}
.elementor-add-to-cart .woocommerce-variation-add-to-cart > .button {
<<<<<<< HEAD
 margin-right: 0;
}
#the7-body .elementor-widget-woocommerce-cart .select2-container--default .select2-selection--single > span {
    line-height: inherit;
}

#the7-body .elementor-widget-woocommerce-cart .select2-container--default .select2-selection--single .select2-selection__arrow{
  height: 100%;
}

#the7-body .elementor-widget-woocommerce-cart .select2-container--default .select2-selection--single { 
    padding: var(--forms-fields-padding,16px);
    padding-left: 0;
    padding-right: 0;
}
.elem-woo-select2-dropdown .select2-dropdown {
  border-radius: 3px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.20);
  border:  none;
  overflow: hidden;
}
.elem-woo-select2-dropdown .select2-results__option {
  line-height: 1.2em;
  color:  #666;
}
.elem-woo-select2-dropdown .select2-search--dropdown .select2-search__field {
  border-color: rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  height: auto;
}
.elem-woo-select2-dropdown .select2-results__option[aria-selected=true],
.elem-woo-select2-dropdown .select2-results__option[data-selected=true] {
  background: rgba(0, 0, 0, 0.05);
  color: #222;
}
.elem-woo-select2-dropdown .select2-search--dropdown {
  padding: 10px 10px 0;
}
.elem-woo-select2-dropdown .select2-results__option {
  padding: 10px;
}
.elem-woo-select2-dropdown .select2-results__option--highlighted[aria-selected], .elem-woo-select2-dropdown .select2-results__option--highlighted[data-selected] {
  color: #fff;
  background: #222;
}

body .elementor-widget-woocommerce-cart .select2-container--default {
    z-index: 98;
}
.elementor-widget-woocommerce-cart .woocommerce .input-text.qty {
    max-height: initial;
    min-width: 36px;
    margin-right: 0;
}

.elementor-menu-cart--items-indicator-bubble .elementor-menu-cart__toggle .elementor-button-icon[data-counter]:before{
  font-family: Arial, sans-serif;
}

.elementor-widget-text-editor h1,
.elementor-tab-content h1{
  margin-bottom: var(--the7-h1-spacing);
}

.elementor-widget-text-editor h2,
.elementor-tab-content h2{
  margin-bottom: var(--the7-h2-spacing);
}

.elementor-widget-text-editor h3,
.elementor-tab-content h3{
  margin-bottom: var(--the7-h3-spacing);
}

.elementor-widget-text-editor h4,
.elementor-tab-content h4{
  margin-bottom: var(--the7-h4-spacing);
}

.elementor-widget-text-editor h5,
.elementor-tab-content h5{
  margin-bottom: var(--the7-h5-spacing);
}

.elementor-widget-text-editor h6,
.elementor-tab-content h6{
  margin-bottom: var(--the7-h6-spacing);
}
